* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

div {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 15%;
  background-color: rgb(149, 228, 221);
  width: fit-content;
  width: 200px;
  height: 200px;
}
