* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #116969;
  color: red;
  height: 60px;
}

ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

li {
  list-style: none;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

li:hover {
  cursor: pointer;
  font-size: 40px;
  border-bottom: solid white 5px;
}

@media (max-width: 480px) {
  ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  li {
    list-style: none;
    font-size: 20px;
    color: white;
    font-weight: lighter;
  }

  li:hover {
    border: none;
    font-size: 20px;
  }
}
